.examples{
  background-color: #fce9ef;
  padding-bottom: 5%;
  padding-top: 5%;;
  width: 100%;
}

/* Image slider css */
#clientes-slider {
  margin: auto;
}

#clientes-secondary-slider {
  margin: auto 15px;
}

.example-cliente{
  border-radius: 10px;
}

.examples-sliders{
  display: inline-flex;
  margin: auto;
}

/* section responsive for mobile */
@media only screen and (max-width: 800px){
  #clientes-satisfechos{
    text-align: center;
    margin: 40px auto;
  }
  .examples{
    display: block;
    text-align: center;
    padding-bottom: 14%;
  }
}

/* section responsive for desktop */

@media only screen and (min-width: 801px){
  #clientes-satisfechos{
    margin: auto;
    font-size: 69px;
  }
  .examples{
    display: inline-flex;
  }
}

@media only screen and (max-width: 425px){
  #clientes-secondary-slider{
    display: none;
  }
}