.products-section {
  background-image: url("../images/cortes-bg.png");
  padding-top: 3.5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: overlay;
  display: grid;
  grid-gap: 10px;
}

/* Grid columns and backgroung for mobile */
@media only screen and (max-width: 750px){
  .products-section {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 100px auto auto auto 20px auto auto auto 20px auto auto auto 20px auto auto auto 60px;
  }
  #products-title{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 34px; 
  }
  .razas-mini{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }
  .mini {
     grid-column: 2 / 3;
     grid-row: 3 / 4;
     margin: auto;
  }
  .mini-text {
    grid-column: 2 / 3;
     grid-row: 4 / 5;
     text-align: center;
    }
  .razas-pequenas{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    text-align: center;
  }
  .small {
    grid-column: 2 / 3;
    grid-row: 7 / 8 ;
    margin: auto;
  }
  .small-text {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    text-align: center;
  }
  .razas-medianas{
    grid-column: 2 / 3;
    grid-row: 10 / 11;
    text-align: center;
  }
  .medium {
    grid-column: 2 / 3;
    grid-row: 11 / 12;
    margin: auto;
  }
  .medium-text {
    grid-column: 2 / 3;
    grid-row: 12 / 13;
    text-align: center;
  }
  .razas-grandes{
    grid-column: 2 / 3;
    grid-row: 14 / 15;
    text-align: center;
  }
  .big {
    grid-column: 2 / 3;
    grid-row: 15 / 16;
    margin: auto
  }
  .big-text {
    grid-column: 2 / 3;
    grid-row: 16 / 17;
    text-align: center;
  }
}


/* Grid columns and backgroung for tablets and desktop */
@media only screen and (min-width: 751px){
  .products-section {
    min-height: 97vh;
    grid-template-columns: 5% auto 10px auto 10px auto 10px auto 5%;
    grid-template-rows: 100px auto auto auto 100px;
  }
  #products-title{
    grid-column: 1 / 10;
    grid-row: 1;
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 50px; 
  }
  .razas-mini{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }
  .mini {
     grid-column: 2 / 3;
     grid-row: 3 / 4;
     margin: auto;
  }
  .mini-text {
    grid-column: 2 / 3;
     grid-row: 4 / 5;
     text-align: center;
    }
  .razas-pequenas{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    text-align: center;
  }
  .small {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    margin: auto;
  }
  .small-text {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    text-align: center;
  }
  .razas-medianas{
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    text-align: center;
  }
  .medium {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    margin: auto;
  }
  .medium-text {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    text-align: center;
  }
  .razas-grandes{
    grid-column: 8 / 9;
    grid-row: 2 / 3;
    text-align: center;
  }
  .big {
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    margin: auto;
  }
  .big-text {
    grid-column: 8 / 9;
    grid-row: 4 / 5;
    text-align: center;
  }
}

.precio-corte{
  width: 100%;
  padding: 15px;
  background-color: #000;
}

/* ...................VIP................. */
.vip {
  min-height: 97vh;
  background-color: #eb6597;  
  justify-content: center;
  display: flex;
}
.vip-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 3rem
}
