.footer {
  height: 28vh;
  background-color: #000;
  display: flex;
  padding: 20px;
}
.social_media{
  margin: auto 0 auto 22px;
}
.social_media_icon{
  max-width: 50px;
}
#footer-logo{
  border-radius: 160px; 
  height: 7rem; 
  margin: auto 0;
}
#instagram-icon{
  width: 37px;
}
#tiktok-icon{
  width: 40px;
}